<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p> -->

<div class="new-game">
	<h1>Result</h1>
	<%= @message %>
</div>



<%= link_to "Play Again", new_path, class: "link" %>
